.title {
    background-color: silver;
    color: brown;
    
}

.composer {
    background-color: red;
    color: white;
}

.Picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

